[submodule "Submodules/BVReorderTableView"]
	path = Submodules/BVReorderTableView
	url = https://github.com/bvogelzang/BVReorderTableView.git
[submodule "Submodules/SMDoubleSlider"]
	path = Submodules/SMDoubleSlider
	url = https://github.com/jjk/SMDoubleSlider.git
